vrrp_sync_group G1 {
    group {
        E1
        I1
    }
    notify_master "/etc/conntrackd/primary-backup.sh primary"
    notify_backup "/etc/conntrackd/primary-backup.sh backup"
    notify_fault "/etc/conntrackd/primary-backup.sh fault"
}

vrrp_instance E1 {
    interface ens3.2045
    state BACKUP
    virtual_router_id 61
    priority 100
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass sfd543ffg
    }
    virtual_ipaddress {
        98.128.170.164/27 dev ens3.2045
    }
    nopreempt
    garp_master_delay 1
}

vrrp_instance I1 {
    interface ens4.3066
    state BACKUP
    virtual_router_id 62
    priority 100
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass sfd543ffg
    }
    virtual_ipaddress {
        172.16.145.1/29 dev ens4.3066
    }
    nopreempt
    garp_master_delay 1
}
