 ! Configuration File for keepalived

global_defs {
{% if (keepalived_check_script_enabled is defined and keepalived_check_script_enabled) %}
    enable_script_security
{% endif %}
}

{% if (keepalived_check_script_enabled is defined and keepalived_check_script_enabled) %}
vrrp_script chk_service {
    user root

    # Cheaper than pidof:
    script "/etc/keepalived/check_script.sh"

    # The "pidof" approach (to test):
    #script "/bin/pidof {{ keepalived_check_process }}"

    # Check every 2 seconds:
    interval 2
    timeout 1
}
{% endif %}

vrrp_instance VI_1 {
    state {{ keepalived_role }}
    interface {{ keepalived_shared_iface }}
    virtual_router_id {{ keepalived_router_id }}

{% if keepalived_role.lower() == "master" %}
    priority {{ keepalived_priority }}
{% else %}
    priority {{ keepalived_backup_priority }}
{% endif %}

    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }

    virtual_ipaddress {
        {{ keepalived_shared_ip }} dev {{ keepalived_shared_iface }} label {{ keepalived_shared_iface }}:0
    }

{% if (keepalived_check_script_enabled is defined and keepalived_check_script_enabled) %}
    track_script {
        chk_service
    }
{% endif %}

}
