
{% if instance.config_drive_contents.meta_data_contents is defined %}

{{ instance.config_drive_contents.meta_data_contents | to_nice_yaml }}

{% else %}

meta_data:
  instance-id: "{{ instance.name }}"
  local-hostname: "{{ instance.name }}"

{% endif %}


{% if instance.config_drive_contents.network_config_contents is defined %}

{{ instance.config_drive_contents.network_config_contents | to_nice_yaml }}  

{% endif %}


{% if instance.config_drive_contents.user_data_contents is defined %}

{{ instance.config_drive_contents.user_data_contents | to_nice_yaml }} 

{% else %}

user_data:
  system_info:
    default_user:
      name: "{{ metal_deployment.default_user }}"
      gecos: "{{ metal_deployment.default_user_gecos }}"
  chpasswd:
    list: |
      {{ metal_deployment.default_user }}:{{ metal_deployment.default_user_password }}
    expire: False
  ssh_pwauth: False
  ssh_authorized_keys:
  - "{{ ssh_pub_key }}"

{% endif %}
