*.swp
*.qcow2
*.qcow2c
*.img
*.vmdk
*.retry
*.log
.vagrant
build-date.txt
packer/build*
packer/ubuntu*-tmpl
packer/centos*-tmpl
packer/pfsense2-tmpl
packer_cache
public_dir
yum_repos
ansible/*.yml
ansible/*.yaml
ansible/*.retry
ansible/*hosts.ini
ansible/*playbook.yml
ansible/*extra-vars.json
ansible/facts/*
ansible/vagrant-run-*
