*.swp
*.qcow2
*.qcow2c
*.img
*.vmdk
*.retry
*.log
.vagrant
build-date.txt
packer/build*
packer/ubuntu*-tmpl
packer/centos*-tmpl
packer/pfsense2-tmpl
packer_cache
public_dir
yum_repos
ansible/*.yml
ansible/*.yaml
ansible/*.retry
ansible/*hosts*
ansible/*playbook*
ansible/*extra-vars*
ansible/facts/*
ansible/vagrant-run-*
