# Copyright 2018, TCMC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: centos7 - copy Setup Default Interface Script
  copy: src=centos7/setupDefaultInterface
        dest=/usr/local/sbin/setupDefaultInterface
        owner=root
        group=root
        mode=0755

- name: centos7 - copy Setup Default Interface systemd service
  copy: src=centos7/setup-default-interface.service
        dest=/lib/systemd/system/setup-default-interface.service
        owner=root
        group=root
        mode=0755

- name: centos7 - service Setup Default Interface
  service: name=setup-default-interface enabled=yes
