127.0.0.1	localhost.localdomain	localhost
127.0.1.1	{{ ansible_fqdn }}	{{ ansible_hostname }}

127.0.1.2	{{ identity_endpoint_public }} {{ identity_endpoint_internal }}
127.0.1.3	{{ image_endpoint_public }} {{ image_endpoint_internal }}
127.0.1.4	{{ console_public_addr }}
127.0.1.5	{{ compute_endpoint_public }} {{ compute_endpoint_internal }}
127.0.1.6	{{ placement_endpoint_public }} {{ placement_endpoint_internal }}
127.0.1.7	{{ network_endpoint_public }} {{ network_endpoint_internal }}
127.0.1.8	{{ orchestration_endpoint_public }} {{ orchestration_endpoint_internal }}
127.0.1.9	{{ cloudformation_endpoint_public }} {{ cloudformation_endpoint_internal }}
127.0.1.10	{{ dns_endpoint_public }} {{ dns_endpoint_internal }}
127.0.1.11	{{ volume_endpoint_public }} {{ volume_endpoint_internal }}
127.0.1.12	{{ volumev2_endpoint_public }} {{ volumev2_endpoint_internal }}
127.0.1.13	{{ clustering_endpoint_public }} {{ clustering_endpoint_internal }}
127.0.1.14	{{ alarming_endpoint_public }} {{ alarming_endpoint_internal }}
127.0.1.15	{{ metric_endpoint_public }} {{ metric_endpoint_internal }}
127.0.1.16	{{ share_endpoint_public }} {{ share_endpoint_internal }}
127.0.1.17	{{ sharev2_endpoint_public }} {{ sharev2_endpoint_internal }}
127.0.1.18	{{ object_store_endpoint_public }} {{ object_store_endpoint_internal }}


# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
