# Copyright 2018, TCMC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: ubuntu - apt installing dnsmasq
  apt: pkg={{item}} state=latest
  with_items:
    - dnsmasq


- name: ubuntu - copy DNSMasq defaults
  copy: src=dnsmasq
        dest=/etc/default/dnsmasq
        owner=root
        group=root
        mode=0644
  notify: restart-dnsmasq


- name: ubuntu - copy DNSMasq systemd service
  copy: src=dnsmasq.service
        dest=/lib/systemd/system/dnsmasq.service
        owner=root
        group=root
        mode=0644
  notify: systemd-daemon-reload


- name: ubuntu - copy DNSMasq config file
  template: src=dnsmasq.conf.j2
            dest=/etc/dnsmasq.conf
            owner=root
            group=root
            mode=0644
  notify: restart-dnsmasq


- name: ubuntu - copy DNSMasq for dummybr2 OVS bridge
  template: src=dummybr2.conf.j2
            dest=/etc/dnsmasq.d-available/dummybr2.conf
            owner=root
            group=root
            mode=0644
  notify: restart-dnsmasq

- name: ubuntu - copy DNSMasq for dummybr3 OVS bridge
  template: src=dummybr3.conf.j2
            dest=/etc/dnsmasq.d-available/dummybr3.conf
            owner=root
            group=root
            mode=0644
  notify: restart-dnsmasq

- name: ubuntu - copy DNSMasq for dummybr5 OVS bridge
  template: src=dummybr5.conf.j2
            dest=/etc/dnsmasq.d-available/dummybr5.conf
            owner=root
            group=root
            mode=0644
  notify: restart-dnsmasq


- name: ubuntu - activating dummybr2 DNSMasq config
  file: src=/etc/dnsmasq.d-available/dummybr2.conf
        dest=/etc/dnsmasq.d/dummybr2.conf
        owner=root
        group=root
        state=link


- name: ubuntu - activating dummybr3 DNSMasq config
  file: src=/etc/dnsmasq.d-available/dummybr3.conf
        dest=/etc/dnsmasq.d/dummybr3.conf
        owner=root
        group=root
        state=link


- name: ubuntu - activating dummybr5 DNSMasq config
  file: src=/etc/dnsmasq.d-available/dummybr5.conf
        dest=/etc/dnsmasq.d/dummybr5.conf
        owner=root
        group=root
        state=link


- meta: flush_handlers
