---

#
# Virtualization Playbook for Basic Infra
#

- hosts: metais
  become: yes
  roles:
  - { role: download-images, download_group: 'iso' }
  - { role: download-images, download_group: 'cloud' }
  - { role: ubuntu-virt, setup: 'host' }
  - { role: ubuntu-virt, setup: 'vms' }
