#!/usr/sbin/nft -f

flush ruleset

table ip nat {
        chain PREROUTING {
                type nat hook prerouting priority 0; policy accept;
# TODO: An awesome jinja2 to deal with port forwards:
#                iifname "{{ linux_nftables_wan1_interface }}" ip daddr 1.2.3.2 tcp dport 2200 dnat to 192.168.0.50:ssh
#                iifname "{{ linux_nftables_wan1_interface }}" ip daddr 1.2.3.3 dnat to 172.29.235.253
        }

        chain INPUT {
                type nat hook input priority 0; policy accept;
        }

        chain OUTPUT {
                type nat hook output priority 0; policy accept;
        }

        chain POSTROUTING {
                type nat hook postrouting priority 0; policy accept;
                oifname "{{ linux_nftables_wan1_interface }}" snat "{{ linux_nftables_wan1_ip }}"
        }
}

table ip filter {
        chain INPUT {
                type filter hook input priority 0; policy drop;
                iifname "lo" accept
                ct state established,related accept
                iifname "{{ linux_nftables_wan1_interface }}" drop
                iifname "{{ linux_nftables_lan1_interface }}" ct state new accept
                iifname "{{ linux_nftables_lan2_interface }}" ct state new accept
        }

        chain FORWARD {
                type filter hook forward priority 0; policy drop;
                ct state established,related accept
                iifname "{{ linux_nftables_wan1_interface }}" drop
                iifname "{{ linux_nftables_lan1_interface }}" ct state new accept
                iifname "{{ linux_nftables_lan2_interface }}" ct state new accept
        }

        chain OUTPUT {
                type filter hook output priority 0; policy drop;
                oifname "lo" accept
                ct state established,related accept
                oifname "{{ linux_nftables_wan1_interface }}" ct state new accept
                oifname "{{ linux_nftables_lan1_interface }}" ct state new accept
                oifname "{{ linux_nftables_lan2_interface }}" ct state new accept
        }
}

table inet filter {
        chain input {
                type filter hook input priority 0; policy accept;
        }

        chain forward {
                type filter hook forward priority 0; policy accept;
        }

        chain output {
                type filter hook output priority 0; policy accept;
        }
}
