export OS_PROJECT_DOMAIN_NAME=default
export OS_USER_DOMAIN_NAME=default
export OS_PROJECT_NAME=admin
export OS_USERNAME=admin
export OS_PASSWORD={{ admin_password }}
export OS_AUTH_URL={{ endpoint_internal_uri }}{{ identity_endpoint_internal }}:5000/v3
export OS_IDENTITY_API_VERSION=3
