{
    "uuid": "",
    "name": "{{ vm.name }}",
    "hostname": "{{ vm.name }}",
    "random_seed": "{{ random_seed.stdout }}",
    "public_keys": {"default": "{{ ssh_pub_key }}"},
    "launch_index": 0
}
