version: 2
ethernets:

{% for ethernet in vm.devices.ethernets %}

  {{ ethernet.name }}:
     addresses: [ {{ ethernet.addresses | join(", ") }} ]
     gateway4: {{ ethernet.gateway4 }}

{% if ethernet.nameservers is defined %}
     nameservers:
         search: [ {{ ethernet.nameservers.search | join(", ") }} ]
         addresses: [ {{ ethernet.nameservers.addresses | join(", ") }} ]
{% endif %}

{% endfor %}
