#cloud-config
system_info:
  default_user:
    name: {{ regular_system_user }}
chpasswd:
  list: |
    root:{{ regular_system_user }}
    {{ regular_system_user }}:{{ regular_system_user }}
  expire: False
ssh_pwauth: True
ssh_authorized_keys:
- {{ ssh_pub_key }}
packages:
  - python
{% if instance.devices.runcmd is defined %}
runcmd:
{% for cmd in instance.devices.runcmd %}
  - {{ cmd }}
{% endfor %}
{% endif %}
