<network>

  <name>{{ vnet.name }}</name>
  <bridge name='{{ vnet.name }}' stp='off' delay='0'/>

{% if vnet.nat is defined %}

  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>

{% endif %}

{% if vnet.subnet is defined %}

  <ip address='{{ vnet.subnet }}' netmask='{{ vnet.netmask }}'>
  </ip>

{% endif %}

</network>
