<domain type='kvm'>
  <name>{{ vm.name }}</name>
  <description>{{ vm.description }}</description>
  <memory unit='KiB'>{{ vm.memory * 1024 }}</memory>
  <currentMemory unit='KiB'>{{ vm.memory * 1024 }}</currentMemory>

{% if (openvswitch_mode is defined and openvswitch_mode == 'dpdk') %}
  <memoryBacking>
    <hugepages/>
  </memoryBacking>
  <numatune>
    <memory mode='strict' nodeset='0'/>
  </numatune>
{% endif %}

  <vcpu placement='static'>{{ vm.cpu }}</vcpu>
  <os>
    <type arch='x86_64'>hvm</type>

{% if vm.firmware is defined %}
{% if vm.firmware == 'efi' %}
    <loader readonly='yes' type='pflash'>/usr/share/OVMF/OVMF_CODE.fd</loader>
    <nvram>/var/lib/libvirt/qemu/nvram/{{ vm.name }}_VARS.fd</nvram>
{% endif %}
{% endif %}

    <bootmenu enable='yes'/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <vmport state='off'/>
  </features>
  <cpu mode='host-model' check='partial'>
    <model fallback='allow'/>

{% if (openvswitch_mode is defined and openvswitch_mode == 'dpdk') %}
    <numa>
      <cell id='0' cpus='0-3' memory='{{ vm.memory * 1024 }}' unit='KiB' memAccess='shared'/>
    </numa>
{% endif %}

{% if (openvswitch_mode is defined and openvswitch_mode == 'regular') %}
    <model fallback='allow'/>
{% endif %}

  </cpu>
  <clock offset='utc'>
    <timer name='rtc' tickpolicy='catchup'/>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='hpet' present='no'/>
  </clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>restart</on_crash>
  <pm>
    <suspend-to-mem enabled='no'/>
    <suspend-to-disk enabled='no'/>
  </pm>
  <devices>
    <emulator>/usr/bin/kvm-spice</emulator>

{% for disk in vm.devices.disks %}

    <disk type='file' device='disk'>
      <driver name='qemu' type='{{ disk.driver.type }}'/>
      <source file='{{ libvirt_pool_1 }}/{{ disk.name }}.{{ disk.driver.type }}'/>
      <target dev='{{ disk.target }}' bus='scsi'/>

{% if disk.boot is defined %}
{% if disk.boot.order is defined %}
      <boot order='{{ disk.boot.order }}'/>
{% endif %}
{% endif %}

      <address type='drive' controller='0' bus='0' target='0' unit='{{ disk.unit }}'/>
      <serial>{{ disk.name }}</serial>
    </disk>

{% endfor %}

    <controller type='usb' index='0' model='ich9-ehci1'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x0c' function='0x7'/>
    </controller>
    <controller type='usb' index='0' model='ich9-uhci1'>
      <master startport='0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x0c' function='0x0' multifunction='on'/>
    </controller>
    <controller type='usb' index='0' model='ich9-uhci2'>
      <master startport='2'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x0c' function='0x1'/>
    </controller>
    <controller type='usb' index='0' model='ich9-uhci3'>
      <master startport='4'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x0c' function='0x2'/>
    </controller>
    <controller type='scsi' index='0' model='virtio-scsi'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x0d' function='0x0'/>
    </controller>
    <controller type='pci' index='0' model='pci-root'/>
    <controller type='virtio-serial' index='0'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x0e' function='0x0'/>
    </controller>

{% for interface in vm.devices.interfaces %}
     <interface type='bridge'>
      <source bridge='{{ interface.source.bridge }}'/>
       <model type='virtio'/>

{% if interface.boot is defined %}
{% if interface.boot.order is defined %}
       <boot order='{{ interface.boot.order }}'/>
{% endif %}
{% endif %}

       <address type='pci' domain='0x0000' bus='0x00' slot='{{ interface.address.slot }}' function='0x0'/>
     </interface>
{% endfor %}

{% if (openvswitch_mode is defined and openvswitch_mode == 'regular') %}
    <interface type='bridge'>
      <source bridge='dummybr4'/>
      <model type='virtio'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x0'/>
      <virtualport type='openvswitch'/>
    </interface>
    <interface type='bridge'>
      <source bridge='dummybr5'/>
      <model type='virtio'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x05' function='0x0'/>
      <virtualport type='openvswitch'/>
    </interface>
{% endif %}

{% if (openvswitch_mode is defined and openvswitch_mode == 'dpdk') %}
    <interface type='vhostuser'>
      <source type='unix' path='/var/run/openvswitch/vuosa-1-subscribers-1' mode='client'/>
      <model type='virtio'/>

{% if (enable_multiqueue == 'yes' and number_of_queues >= 1) %}
      <driver name='vhost' queues='{{ number_of_queues }}'/>
{% endif %}

      <address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x0'/>
    </interface>
    <interface type='vhostuser'>
      <source type='unix' path='/var/run/openvswitch/vuosa-1-internet-1' mode='client'/>
      <model type='virtio'/>

{% if (enable_multiqueue == 'yes' and number_of_queues >= 1) %}
      <driver name='vhost' queues='{{ number_of_queues }}'/>
{% endif %}

      <address type='pci' domain='0x0000' bus='0x00' slot='0x05' function='0x0'/>
    </interface>
{% endif %}

    <serial type='pty'>
      <log file='/var/log/libvirt/qemu/{{ vm.name }}-serial0.log' append='off'/>
      <target type='isa-serial' port='0'>
        <model name='isa-serial'/>
      </target>
    </serial>
    <console type='pty'>
      <log file='/var/log/libvirt/qemu/{{ vm.name }}-serial0.log' append='off'/>
      <target type='serial' port='0'/>
    </console>
    <channel type='unix'>
      <target type='virtio' name='org.qemu.guest_agent.0'/>
      <address type='virtio-serial' controller='0' bus='0' port='1'/>
    </channel>
    <channel type='spicevmc'>
      <target type='virtio' name='com.redhat.spice.0'/>
      <address type='virtio-serial' controller='0' bus='0' port='2'/>
    </channel>
    <input type='tablet' bus='usb'>
      <address type='usb' bus='0' port='1'/>
    </input>
    <input type='mouse' bus='ps2'/>
    <input type='keyboard' bus='ps2'/>
    <graphics type='spice' autoport='yes'>
      <listen type='address'/>

{% if vm.spice is defined %}
{% if vm.spice.fastlocal == 'yes' %}
      <image compression='off'/>
      <streaming mode='off'/>
{% endif %}
{% endif %}

    </graphics>
    <sound model='ich6'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x0b' function='0x0'/>
    </sound>
    <video>
      <model type='virtio' heads='1' primary='yes'>

{% if vm.spice is defined %}
{% if vm.spice == 'yes' %}
        <acceleration accel3d='yes'/>
{% endif %}
{% else %}
        <acceleration accel3d='no'/>
{% endif %}

      </model>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x02' function='0x0'/>
    </video>
    <redirdev bus='usb' type='spicevmc'>
      <address type='usb' bus='0' port='2'/>
    </redirdev>
    <redirdev bus='usb' type='spicevmc'>
      <address type='usb' bus='0' port='3'/>
    </redirdev>
    <memballoon model='virtio'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x0f' function='0x0'/>
    </memballoon>
    <rng model='virtio'>
      <backend model='random'>/dev/urandom</backend>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x10' function='0x0'/>
    </rng>
  </devices>
</domain>
