# Copyright 2018, TCMC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


mysql_databases:
  - { os_project: "neutron", db_name: "neutron", db_host: "%", db_user: "neutronUser", db_pass: "neutronPass" }

os_aio: false

os_neutron_ctrl: false
os_neutron_net: false
os_neutron_cmpt: false

os_external: "dummy0"
os_data: "dummy1"

os_neutron_lbr_enabled: false

ovs_integration_bridge: "br-int"
os_neutron_ovs_enabled: false
os_neutron_ovs_dpdk_enabled: false

os_neutron_ovn_enabled: false

os_neutron_sriov_enabled: false

neutron_interface_driver: "linuxbridge"

firewall_driver: null

metadata_secret: "UltraMeta13"

os_neutron_external_bridge: "br-ex"

# Provider Network 1
os_provider_net_1_label: "provider-net-1"
# With LBR:
os_provider_net_1_lbr_interface: "dummy6"
# With OVS:
os_provider_net_1_ovs_interface: "dummy4"
os_provider_net_1_ovs_bridge_interface: "dummybr0"

# Provider Network 2
os_provider_net_2_label: "provider-net-2"
# With LBR:
os_provider_net_2_lbr_interface: "dummy7"
# With OVS:
os_provider_net_2_ovs_interface: "dummy5"
os_provider_net_2_ovs_bridge_interface: "dummybr1"

os_open_provider_nets_to_regular_users: false

# Neutron quotas:
# neutron_quota_floatingip: "-1"
# neutron_quota_security_group: "-1"
# neutron_quota_security_group_rule: "-1"
# neutron_quota_port: "-1"
# neutron_quota_network: "-1"
# neutron_quota_subnet: "-1"
# neutron_quota_router: "-1"
# neutron_quota_rbac_policy: "-1"

# Data network mtu
# Note: dnsmasq-neutron.conf should be changed accordingly
# neutron_global_physnet_mtu: "1650"
# ml2_path_mtu: "1650"
