# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
        . /etc/bashrc
fi

# User specific aliases and functions
export GOPATH=$HOME/work
export PATH=$PATH:$HOME/work/bin:$GOROOT/bin
