# cloud-config
version: 2
ethernets:
    eth0:
        mtu: 1500
        addresses:
        - {{ container.ip_pxe }}
vlans:
    eth0.7:
        mtu: 1500
        id: 7
        link: eth0
        addresses:
        - {{ container.ip }}
        gateway4: {{ container.gw }}
        nameservers:
            addresses: [ {{ dns_servers }} ]
            search: [ {{ dns_search }} ]
